@font-face {
    font-family:"Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
body {
    font-family: "Open Sans";
    background-color:#f9fafc;
 
}
ul.b{
    list-style: none;
    font-family: "Open Sans";
    column-span: all;
    padding: 0;
   

}
p{
    border-left: 60px;
    border-color: #69696a;
    width: 300px;

    
}

a{ text-decoration-line: none;
    color: black;

}
h3{
    display: flex;
    justify-content: center;
    background-color: #000;
    border-radius: 40px 40px 40px 40px;
    color:  white;
    width: 350px;
}

div{
    display: flex;
    justify-content: center;
    background-color: #000;
    border-radius: 40px 40px 40px 40px;
    color: white;
    width: 350px;
}
h4{
    margin: 0%

}

h2{
    font-weight: 50;



}
@media only screen and (min-width:768px){
    .circle1{
        height: 200px;
        width: 200px;
        background-color:rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        border-top: 65%;
        border-bottom:25%;
        border-left: 45%;
        border-right: 35%;
        display: left;
        position: absolute;
    }
    .circle2{
        height: 125px;
        width: 125px;
        background-color:rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        border-top: 25%;
        border-bottom:25%;
        border-left: 75%;
        border-right: 35%;
        display: left;
        position: absolute;
    }
    .circle3{
        height: 150px;
        width: 150px;
        background-color:rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        border-top: 30%;
        border-bottom:25%;
        border-left: 45%;
        border-right: 35%;
        display: right;
        position: absolute;
    }
    .circles {
        float: right;
        position: relative;
        width: 45%;
        height: 45%;}


}
/*body {
    font-family: open sans;
    height: 200px;
    max-width: width 2000%;
    margin: 0%;
    padding: 0px;
    border-radius: 100%;
    background-color: #f9fafc;

}
li{
    display: inline;
}
ol {
    float: right;
    height: 100px;
    width: 300px;

}
h2 {
    width: 25%;
    height: 0px;

}
.column1 {
    float: left;
    width: 40%;
    height: 100;


}/*
